.Container{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.materiales-container{
    height: 400px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.materiales-container-search{
    flex: 1 1 15%;
    margin: 10px;
    border-radius: 10px;
}
.materiales-container-table{
    flex: 1 1 80%;
    margin: 10px;
    border-radius: 10px;
}
.materiales-container-title{
    text-align: center;
    margin-top: 2rem;
    font-size: 50px;
    font-weight: bold;
    color: rgba(177, 177, 177, 0.539);
}
.button-add{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}