.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.materiales-container{
    height: 400px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.materiales-container-search{
    background-color: rgba(223, 223, 223, 0.582);
    flex: 1 1 15%;
    margin: 10px;
    border-radius: 10px;
}
.materiales-container-table{
    flex: 1 1 80%;
    margin: 10px;
    border-radius: 10px;
}